<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365759759357-8e307fm7cv2pn1kf2so02lo3em04750g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365759759357-8e307fm7cv2pn1kf2so02lo3em04750g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365759759357-ggmdlnhsnnfal03cgqenkhe5lbefit7f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACnueL1DQQ1d2J18jXGgwXXLahcefy0hA</string>
	<key>GCM_SENDER_ID</key>
	<string>365759759357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cathay.lifestyle</string>
	<key>PROJECT_ID</key>
	<string>cathay-1dc96</string>
	<key>STORAGE_BUCKET</key>
	<string>cathay-1dc96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365759759357:ios:dea3c86df38f94b822cf94</string>
	<key>DATABASE_URL</key>
	<string>https://cathay-1dc96.firebaseio.com</string>
</dict>
</plist>